#fieldrules {
  position:relative;
  z-index:10;
  list-style: decimal inside;
  min-height:15em;
}

#fieldrules:empty {
  min-height:5em;
}

#content ol#fieldrules {
  margin-left:0;
}

.below-rules {
  position:relative;
  z-index:5;
  min-height:5em;
}

#fieldrules:empty:before {
  color:#999;
  font-size:140%;
  font-style: italic;
  line-height: 250%;
  content:"There are no field rules assigned to this form; click the add button below to add a rule.";
}

.rulesmanager {
  margin:0.5em 0;
}

.rulesmanager .addrule {
  display:block;
  width:5.5em;
  text-align:center;
  border:1px solid #789;
  background-color:#dfe;
  padding:0.5em;
  border-radius:0.3em;
  margin:0.5em 0;
}

#fieldrules > li {
  list-style-type:inherit;
  display:list-item;
  background-color:#edf2f5;
  margin:0.3em 0 0.8em 1.1em;
  padding: 0.4em 0.1em 0.3em 0.4em;
  border-left: 0.6em solid #ff0;
  font-size:15px;
  font-style:italic;
  color:#999;
}

#fieldrules > li .fieldrule {
  color:black;
  margin:-2.7em 0.4em 0 1.8em;
  font-size:12px;
  font-style:normal;
  position:relative;
}

#fieldrules > li.collapsed {
  background-color: #efefe0;
  border-left: 0.2em solid black;
  border-bottom: 4px dotted #abc;
  margin-left:0.1em;
}

#fieldrules > li.collapsed .fieldrule {
}

#fieldrules > li.collapsed .fieldrule .rule-part {
  display:none;
}

#fieldrules > li.collapsed .fieldrule .rule-part.rule-meta {
  display:block;
  height: 1.0em;
  overflow-y: hidden;
}

#fieldrules > li.collapsed .fieldrule .rule-part.rule-meta .rule-description {
  display:none;
}

#fieldrules > li.collapsed .fieldrule .rule-part.rule-meta .rule-title {
  font-weight:normal;
  background-color:#d9d9d9;
}

#fieldrules > li .fieldrule .rule-menu {
  z-index:1000;
  position:absolute;
  right:0;
  top:0;
  margin-right:-0.2em;
  padding-top:0.1em;
  font-size:26px;
  font-weight:bold;
}

#fieldrules > li .fieldrule .rule-menu ul {
  display:none;
  z-index:1000;
  list-style: none inside;
  background-color:rgba(240, 240, 255, 0.85);
  margin-top:-0.2em;
  padding:2em 0.75em 0.75em 0.75em;
  font-size:14px;
  font-weight:bold;
  border:1px dotted #bbb;
  box-shadow: -2px 2px 5px #789;
}


#fieldrules > li .fieldrule .rule-menu > a {
  display:block;
  float:right;
  color:#666;
  border-bottom:none;
}

#fieldrules > li .fieldrule .rule-menu a:hover {
  color:black !important;
}

#fieldrules > li .fieldrule .rule-menu ul li {
  border-top:1px solid #bcd;
  padding-top:0.1em;
}

#fieldrules > li .fieldrule .rule-menu ul li:first-child {
  border-top:none;
}

#fieldrules > li .fieldrule .rule-menu ul li a {
  border-bottom:none;
  color:#678;
}

#fieldrules > li .fieldrule .rule-menu ul li a:before {
  font-size:140%;
  width:1em;
}

#fieldrules > li .fieldrule .rule-menu ul li a.move-bottom:before {
  content:"◛ ";
}

#fieldrules > li .fieldrule .rule-menu ul li a.move-top:before {
  content:"◚ ";
}

#fieldrules > li .fieldrule .rule-menu ul li a.move-up:before {
  content:"△ ";
}

#fieldrules > li .fieldrule .rule-menu ul li a.move-down:before {
  content:"▽ ";
}

#fieldrules > li .fieldrule .rule-menu ul li a.delete-rule {
  display:block;
  padding: 0 0.5em;
  margin-left: -0.5em;
  color:#900;
  height:12px;
}

#fieldrules > li .fieldrule .rule-menu ul li a.delete-rule span {
  display:block;
  margin:0;
  margin-left:1.5em;
  margin-top:-1.7em;
}

#fieldrules > li .fieldrule .rule-menu ul li a.delete-rule:before {
  content:"✕ ";
  color:red;
}

#fieldrules > li label {
  color: #999;
}

#fieldrules > li .rule-meta label {
  display: block;
  width: 9em;
  float: left;
  clear:both;
  text-align: right;
  font-weight: normal;
}

#fieldrules > li .record-filter {
  border:none;
}

#fieldrules .rule-meta div.field-rule-title {
  margin-bottom:0.4em;
}

#fieldrules .rule-meta div.field-rule-title ::-moz-placeholder {
  color:SteelBlue;
}

#fieldrules .rule-meta div.field-rule-title ::-ms-input-placeholder{
  color:purple;
}

#fieldrules .rule-meta div.field-rule-title ::-webkit-input-placeholder {
  color:purple;
}

#fieldrules .rule-meta input.rule-title {
  float:left;
  width:75%;
  margin-left:0.5em;
  margin-right:1.5em;
  padding-left:0.2em;
  border:none;
  border-bottom:1px solid #bbb;
  background-color:#ff9;
  font-size:120%;
  font-weight:bold;
}

#fieldrules .rule-meta textarea {
  font-family: Arial,Helvetica;
  font-size: 110%;
  border: medium none;
  background-color: #FFFFF6;
  padding: 0.3em;
  max-width: 74%;
  float: left;
  margin: 0.3em 0.5em;
  color: #888;
  height: 2.2em;
}

#fieldrules .rule-part.rule-meta {
  padding-top:0.7em;
}

#fieldrules .rule-part {
  margin:0;
  padding:0 0.4em 0.8em 0.4em;
}

#fieldrules .rule-part h3 {
  background-color:#aaa;
  background: linear-gradient(to bottom, rgba(200, 210, 220, 0.7) 0%, transparent 100%) repeat scroll 0% 0%;
  color:black;
  margin: 0px -0.4em 0px -1.8em;
  padding:0.2em 0.5em;
  clear:both;
}

#fieldrules .rule-part.rule-act h3 {
  color:DarkGreen;
}

#fieldrules .rule-part.rule-otherwise h3 {
  color:#8B0000;
}

#fieldrules .when.record-filter {
  box-shadow:none;
  border:1px solid rgb(170, 187, 204);
  background-color:transparent;
}

#fieldrules table.queries th {
  background-color: #abc;
  color: #456;
}

.rule-action {
  list-style:none;
  clear:both;
  display:block;
  margin-bottom: 1em;
}

.rule-otherwise .actions {
  min-height:5em;
}

.rule-otherwise .actions li.rule-action {
  min-height:1.2em;
}

table.action-spec {
  table-layout: fixed;
  width:98%;
  margin: 0.1em 0.5em 0.1em -2em;
  margin-top:0.1em;
  margin-right:0.5em;
  float:left;
}

table.action-spec tr {
  border:1px solid #789;
}

.rule-action:first-of-type table.action-spec tr:first-of-type {
  display:table-row;
}

table.action-spec tr:first-of-type {
  display:none;
  background-color: #282;
  color:white;
}

.rule-otherwise table.action-spec tr:first-of-type {
  background-color:#b61;
}

table.action-spec th, table.action-spec td {
  padding:0.3em 0.5em;
  border-left:1px solid #789;
  min-height:1em;
}

table.action-spec td:empty {
  height:1.1em;
  empty-cells: show;
}

#fieldrules li .fieldrule .action-control .action-remove-link {
  float:left;
  font-size:200%;
  border-bottom:none;
  display:block;
  margin-top:0.2em;
}

#fieldrules .fieldrule li.rule-action:first-of-type  .action-control .action-remove-link {
  margin-top:1.3em;
}

.below-rules, #fieldrules li {
  clear:both;
}

table.action-spec th.action-header-field,
table.action-spec td.action-cell-field {
  width:60%;
}

.add-action {
  float: right;
  border-bottom: none;
  margin-top: -2em;
  margin-right: 4em;
}

select.action-field {
  max-width:90%;
}

table.action-spec td.action-cell-extras {
  display:none;
}


table.action-spec td.action-cell-extras div.actprop label {
  width:12em;
  display:block;
  float:left;
}
