/* Plone 5 content type icons */

/* styles common to all the png icons: */

body#visual-portal-wrapper.pat-plone .outer-wrapper .contenttype-uu-formlibrary-measurelibrary::before,
body#visual-portal-wrapper.pat-plone #edit-zone .contenttype-uu-formlibrary-measurelibrary::after,
body#visual-portal-wrapper.pat-plone .outer-wrapper .contenttype-uu-formlibrary-measuregroup::before,
body#visual-portal-wrapper.pat-plone #edit-zone .contenttype-uu-formlibrary-measuregroup::after,
body#visual-portal-wrapper.pat-plone .outer-wrapper .contenttype-uu-formlibrary-measure::before,
body#visual-portal-wrapper.pat-plone #edit-zone .contenttype-uu-formlibrary-measure::after,
body#visual-portal-wrapper.pat-plone .outer-wrapper .contenttype-uu-formlibrary-setspecifier::before,
body#visual-portal-wrapper.pat-plone #edit-zone .contenttype-uu-formlibrary-setspecifier::after,
body#visual-portal-wrapper.pat-plone .outer-wrapper .contenttype-uu-formlibrary-multiform::before,
body#visual-portal-wrapper.pat-plone #edit-zone .contenttype-uu-formlibrary-multiform::after,
body#visual-portal-wrapper.pat-plone .outer-wrapper .contenttype-uu-formlibrary-simpleform::before,
body#visual-portal-wrapper.pat-plone #edit-zone .contenttype-uu-formlibrary-simpleform::after,
body#visual-portal-wrapper.pat-plone .outer-wrapper .contenttype-uu-formlibrary-definition::before,
body#visual-portal-wrapper.pat-plone #edit-zone .contenttype-uu-formlibrary-definition::after,
body#visual-portal-wrapper.pat-plone .outer-wrapper .contenttype-uu-formlibrary-library::before,
body#visual-portal-wrapper.pat-plone #edit-zone .contenttype-uu-formlibrary-library::after {
  background-repeat: no-repeat !important;
  width:20px !important;
  content:' ' !important;
  margin-left: 0.2em !important;
}

/* per-type icon image resources: */


body#visual-portal-wrapper.pat-plone .outer-wrapper .contenttype-uu-formlibrary-measurelibrary::before,
body#visual-portal-wrapper.pat-plone #edit-zone .contenttype-uu-formlibrary-measurelibrary::after {
  background-image: url(../++resource++uu.formlibrary.icons/measurelib.png);
}

body#visual-portal-wrapper.pat-plone .outer-wrapper .contenttype-uu-formlibrary-measuregroup::before,
body#visual-portal-wrapper.pat-plone #edit-zone .contenttype-uu-formlibrary-measuregroup::after {
  background-image: url(../++resource++uu.formlibrary.icons/measureform.png);
}

body#visual-portal-wrapper.pat-plone .outer-wrapper .contenttype-uu-formlibrary-measure::before,
body#visual-portal-wrapper.pat-plone #edit-zone .contenttype-uu-formlibrary-measure::after {
  background-image: url(../++resource++uu.formlibrary.icons/ruler1.png);
}

body#visual-portal-wrapper.pat-plone .outer-wrapper .contenttype-uu-formlibrary-setspecifier::before,
body#visual-portal-wrapper.pat-plone #edit-zone .contenttype-uu-formlibrary-setspecifier::after {
  background-image: url(../++resource++uu.formlibrary.icons/formset.png);
}

body#visual-portal-wrapper.pat-plone .outer-wrapper .contenttype-uu-formlibrary-library::before,
body#visual-portal-wrapper.pat-plone #edit-zone .contenttype-uu-formlibrary-library::after {
  background-image: url(../++resource++uu.formlibrary.icons/formlib.png);
}

body#visual-portal-wrapper.pat-plone .outer-wrapper .contenttype-uu-formlibrary-definition::before,
body#visual-portal-wrapper.pat-plone #edit-zone .contenttype-uu-formlibrary-definition::after {
  background-image: url(../++resource++uu.formlibrary.icons/formdef.png);
}

body#visual-portal-wrapper.pat-plone #edit-zone .contenttype-uu-formlibrary-definition::after {
  filter:invert(100%) brightness(200%);
}

body#visual-portal-wrapper.pat-plone .outer-wrapper .contenttype-uu-formlibrary-multiform::before,
body#visual-portal-wrapper.pat-plone #edit-zone .contenttype-uu-formlibrary-multiform::after {
  background-image: url(../++resource++uu.formlibrary.icons/multiform.png);
}

body#visual-portal-wrapper.pat-plone .outer-wrapper .contenttype-uu-formlibrary-simpleform::before,
body#visual-portal-wrapper.pat-plone #edit-zone .contenttype-uu-formlibrary-simpleform::after {
  background-image: url(../++resource++uu.formlibrary.icons/simpleform.png);
}

body#visual-portal-wrapper.pat-plone #edit-zone .contenttype-uu-formlibrary-series::after,
body#visual-portal-wrapper.pat-plone .outer-wrapper .contenttype-uu-formlibrary-series::before {
  content: '\e81b' !important;
  color:#7cceee !important;
  font-size:125% !important;
}


#formcore {
  /* padding for date widget expansion */
  padding-bottom: 10em;
}

body.template-form_view #content ol.formrows li form table.singlerowform {
  margin:0em 0.2em;
}

#content #formcore table.formheadings,
#content #formcore table.singlerowform {
  table-layout: fixed;
}

#content #formcore table.singlerowform > tbody > tr > td > input,
#content #formcore table.singlerowform > tbody > tr > td > select
 {
  max-width:95%;
}

#btn-saveform { font-size:125%; }

ol.formrows li { list-style-position:inside;}
ol.formrows form.formrow {
  margin-left:1.5em;
  margin-top:-1.5em;
  width:96%;
}
ol.formrows { margin-top:0.8em !important; }

table.formheadings { margin-left:3.8em !important; width:91.43% !important; }

table.formheadings .field_title {
  float:left;
  margin-right:0.3em;
}


ol.formrows { margin:0; margin-left:-1em; padding-left:0; display:block; width:auto;}
ol.formrows li { margin-left:-1.5em; margin-top:-0.8em; }
ol.formrows li .rowcontrol { margin:0.1em 0 0 0; background-color:#d9d9d9; border-top:0.1em solid #d9d9d9; color:#fff; font-size:85%; font-family:sans-serif; padding:0 0.1em; width:98%; line-height:130%;  }
.rowcontrol a { color:#fff; text-decoration:none; }
.rowcontrol span.rowstatus { color:#ccc; }
.rowcontrol a.delete { color:#900; }
table.formheadings { margin-bottom: 0; }
table.formheadings, table.singlerowform { margin-top:-0.1em; border-collapse:collapse; width:98%; }
table.singlerowform tr.headings th div { height:0px; overflow-y:hidden; }
table.singlerowform tr { padding:0;}

table.singlerowform > tbody > tr > th,
table.formheadings > tbody > tr > th {
  margin:0; border:0.1em solid #bbb; border-top:0.1em solid #d9d9d9;  padding:0 0.4em; max-width:14em; font-size:120%; color:#057;
}
table.singlerowform > tbody > tr > td { margin:0; border:0.1em dotted #ddd; padding:0.5em 0.2em 0 0.2em; font-size:85%; padding-bottom:0.4em; }

table.singlerowform td input { font-size:120%; }

/*
table.singlerowform th .field_desc,
table.formheadings th .field_desc { font-size:80%; font-weight:normal; font-style:italic; }
*/

div.gridform { margin:0.5em; }

div.form-footer { border-top:0.1em solid #bbb; width:98%; color:#aaa; margin-top:2em; }

div.form-footer h4 { color: #bbb; font-size:110%; }

div.form-meta { border:1px solid #ddd; width:99%; margin-bottom:0.2em; }
div.form-meta h3 { font-size:90%; text-align:center; }
div.form-meta h4.subhead { font-size:80%; text-align:center; }

div.form-meta {  }

div.form-meta p.description { float:left; width:50%; margin:0.4em; }
div.form-meta div.instructions { clear:both; font-size:90%; position:relative; float:left;}
div.form-meta div.instructions h4 { min-width:8em; }
div.form-meta div.instructions div.instructions-content { margin-left:8em; padding:0.4em; border-left:0.2em dotted #9af; margin-top:-1.5em; }

div.form-meta div.meta-footer { clear:both; }

a.meta-toggle, a.meta-toggle:visited { display:block; text-align:center; background-color:#7af; color:#fff; }
#form-metadata div.meta-footer a.meta-toggle:hover { color:#fff !Important; font-weight:bold; }

input#btn-addrow { margin-top:0.5em; width:18em; font-weight:bold; color:#0a0; font-size:125%; }

div.form-notes { border-top:0.1em dotted #bbb; width:98%; margin-top:1.5em; }

div.form-notes textarea { font-size:75%; color:#789; }

div.form-meta div.instructions { border-top:0.1em dotted #bbb; }

div.form-meta div.periodinfo { color:#789; font-style:italic; padding-left:2em; }
div.form-meta div.periodinfo span { color:#666; font-weight:bold; }

div.field_desc {
  height:0px;
}

div.field_desc a {
    display:block;
    position:relative;
    z-index:24;
    padding: 16px 0 0 0;
    overflow: hidden;
    background-image: url("../info_icon.png");
    background-repeat: no-repeat;
    height: 0px !important;
    height /**/:16px;
}

div.field_desc a:hover {
    z-index:25; background-color:#445;
    background-image:none;
    padding:0;
    overflow:visible;
    height:auto;
    width:10em;
    font-size:80%;
}

div.field_desc a span { display:none; padding:0.3em; }

div.field_desc a:hover span { clear:both; display:block; height:auto; background-color:#445; border:1px solid #666; color:#ffd; }

/* validation styles */

div.error p {
    background-color: #DDDDAA;
    border: 1px solid #990000;
    color: #CC0000;
    display: block;
    font-size: 85%;
    font-weight: bold;
    z-index: 26;
    /* shadow for mozilla/webkit/IE9 only */
    -moz-box-shadow:0 0 10px #000;
    -webkit-box-shadow:0 0 10px #000;
    -ms-box-shadow:0 0 10px #000;
}

input.invalid {
    background-color: #FFFFDD;
    border: 1px dotted #CC0000;
}

div.singlerowform {
  padding-left:0.5em;
}

div.fielddiv {
  padding:0.3em;  
}

div.fielddiv > label {
  margin-bottom:0.2em;
}

div.fielddiv span.option label span.label {
  margin-left:0.5em;
}

div.fielddiv.divider {
  width:98.5% !important;
  clear:both;
  background-color:#cde;
  margin:0.8em 0px 0px 0px; 
}

ol.formrows div.singlerowform div.fielddiv.divider label {
  font-size:150%;
  width:100%;
}

/* field rules CSS: */

.singlerowform .fielddiv.disabled {
  color:#ccc;
}

.singlerowform .fielddiv.disabled > label:after {
  content: " (N/A)";
  font-size: 80%;
  color:#ddd;
}

.singlerowform .fielddiv.disabled p.description,
.singlerowform .fielddiv.disabled span.label {
  color:#ddd;
}

.singlerowform .fielddiv.disabled input,
.singlerowform .fielddiv.disabled select {
  color:#eee;
}

/* multi-record form save manager CSS: */


#formcore.failed-save #form-metadata,
#formcore.failed-save .formrows,
#formcore.failed-save .add-control,
#formcore.failed-save #coredata {
  display:none;
}

#formcore.pending-ack #form-metadata,
#formcore.pending-ack .formrows,
#formcore.pending-ack .add-control,
#formcore.pending-ack #coredata {
  opacity:0.35;
}

#formcore.pending-ack #coredata {
  display:none;
}

#formcore.pending-ack #multiform-status {
  border:1px solid #d80; 
  border-left:1em solid #f00;   /* different color when success vs fail? */
  background-color:#fd5;
  margin:1em 1em 2em 0;
  box-shadow: 5px 5px 5px black;
}

#formcore.pending-ack #multiform-status.success {
  border-left:1em solid #060;
  background-color:#9da;
}

#formcore.pending-ack #multiform-status .save-status.warning {
  color:#b00;
}

#formcore.pending-ack #multiform-status .save-status {
  font-size:130%;
  font-weight: bold;
  padding:0.25em 0.5em;
}

#formcore.pending-ack #multiform-status input {
  margin:0.5em;
  font-size:160%;
  min-width:6em;
}

#multiform-status div.save-status.heading {
  font-size:165% !important;
  text-decoration: underline;
}

#multiform-status div.save-status.detail {
  font-size:95% !important;
  color:#555;
}

#multiform-status div.save-status.detail:before {
  content:"— ";
}

/* type-a-date widget */
.formrow .pattern-pickadate-wrapper .pattern-pickadate-date-wrapper .picker__input {
  max-width: 12em;
  font-size:100%;
  font-weight: bold;
  color:#69a;
}

.formrow.compact-columns .pattern-pickadate-wrapper .pattern-pickadate-date-wrapper .picker__input {
  max-width:11em;
  font-size:90%;
}

/* Fieldset (Flex form) and data-grid style tweaks: */


body.template-form_view #content fieldset,
body.template-form_entry #content fieldset {
  border-top:none !Important;
  background-color:#e9edfa !Important;
  border-bottom:1px solid #bbb;
  padding 0 1em 0 0;
}

body.template-form_view #content fieldset legend,
body.template-form_entry #content fieldset legend {
  width: 100%;
  display: block;
  background-color:#ddd;
  color:#444;
  font-size:110% !Important;
  font-weight:bold; line-height:120%;
  margin-left:-1em;
}

body.template-form_view #content #fieldset-default legend,
body.template-form_entry #content #fieldset-default legend {
  /* hide the heading for default fieldset: */
  display:none;
}

body.template-form_view table.datagridwidget-table-view input,
body.template-form_entry table.datagridwidget-table-view input {
  margin-bottom:0.4em;
  width:95% !Important;
}

body.template-form_view table.datagridwidget-table-view input[type="radio"],
body.template-form_entry table.datagridwidget-table-view input[type="radio"] {
  margin:0.4em;
  width:auto !important;
}

body.template-form_view table.datagridwidget-table-view, 
body.template-form_entry table.datagridwidget-table-view {
  table-layout:fixed;
}

/* patterns CSS */

.pattern-pickadate-wrapper .pattern-pickadate-date-wrapper .pattern-type-a-date-text-entry {
    width: 300px;
    margin-bottom: 0.2em;
    text-align: center;
}
.pattern-pickadate-wrapper .pattern-pickadate-time-wrapper .pattern-type-a-time-text-entry {
    width: 180px;
    margin-bottom: 0.2em;
    text-align: center;
}

/* collective.computedfield: hide 'factory' argument from forms: */
.overlay #formfield-form-widgets-factory {
  display:none;
}

.overlay #add-field-form #formfield-form-widgets-factory {
  display:block;
}

/* MSIE 11 tweaks */

.pattern-pickadate-wrapper .picker__select--year {
  font-size:12px;
  font-family: Arial;
  min-width:5.5em !important;
}


/* MSIE 11 tweaks */

.pattern-pickadate-wrapper .picker__select--year {
  font-size:12px;
  font-family: Arial;
  min-width:5.5em !important;
}


.pattern-pickadate-wrapper .picker__select--month {
  font-size:12px;
  font-family: Arial;
  min-width:9em !important;
}
/* series listing styles */

.summary-groups .summary a {
  margin-left:0.4em;
}

.summary-groups div dl:empty:after {
  content:"No forms match this criteria.";
  color:#aaa;
  font-weight:normal;
  font-size:90%;
  padding-left:1em;
}

.portaltype-uu-formlibrary-series #form-metadata h2 {
  font-size:115%;
}

.portaltype-uu-formlibrary-series #form-metadata h2:before {
  content:"Series title: ";
  color:#aaa;
  font-size:90%;
}

.portaltype-uu-formlibrary-series #form-metadata p.description:before {
  content:"Series description: ";
  color:#aaa;
  font-size:90%;
}

.portaltype-uu-formlibrary-series #form-metadata p.description:empty:before {
  content:'';
}

.portaltype-uu-formlibrary-series #form-metadata .periodinfo {
  clear:both;
}


.portaltype-uu-formlibrary-series #form-metadata {
  padding:1em;
}

/* measure library related styles */

.recent ul li a img {
  margin-right:0.5em;
}

#library-actions ul {
  padding-left:0.8em;
}

#library-actions ul li {
  margin-bottom:0.3em;
}

/* multi-record form misc */

.singlerowform .pattern-pickadate-wrapper > button {
  display:none;
}

ol.formrows {
  margin-left:1.75em;
}

/* multi-record form styles */

#formcore span.option {
  display:block;
}
