.pattern-pickadate-wrapper .pattern-pickadate-date-wrapper .pattern-type-a-date-text-entry {
    width: 300px;
    margin-bottom: 0.2em;
    text-align: center;
}
.pattern-pickadate-wrapper .pattern-pickadate-time-wrapper .pattern-type-a-time-text-entry {
    width: 180px;
    margin-bottom: 0.2em;
    text-align: center;
}
