
form.record-queries {
    display:block;
    background-color:#ddd;
    width:100%;
}

table.queries {
    width:100%;
}

table.queries tr.even td {
    background-color:#eee;
}

table.queries th, table.queries td {
    width:30%;
    color:#889;
    padding:0.3em 0.1em;
}

table.queries th {
    background-color:#667;
    color:#eee;
}

table.queries th.rowcontrol, table.queries td.rowcontrol {
    width:10%;
    text-align:right;
}

a.addquery {
    display:block;
    float:left;
    max-width:15em;
    border:1px solid #999;
    background-color:#eee;
    padding:0.2em;
    margin-right:1em;
    cursor:pointer;
    color:#072;
}
