
form.record-queries {
    display:block;
    background-color:#ccc;
    width:100%;
}

table.queries {
    width:100%;
}

table.queries th, table.queries td {
    width:30%;
    color:#889;
}

table.queries th.rowcontrol, table.queries td.rowcontrol {
    width:10%;
    text-align:right;
}

a.addquery, a.runquery, a.savequery {
    display:block;
    float:left;
    max-width:10em;
    border:1px solid #999;
    background-color:#eee;
    padding:0.2em;
    margin-right:1em;
    cursor:pointer;
}
